body {
    background-color: #c6c6c6;
}

.row{
    width: 100%;
}

.left-col{
    width: 50%;
    float: left;
}

.right-col{
    width: 50%;
    float: right;
}

.estudante {
    margin: 20px;
}


.estudante h3{
    display: inline;
    margin: 30px;
}

.estudante p {
    display: inline;
    margin: 30px;
}
